<div class="tomato-hero {{ runner_classes|default('') }}" id="{{ runner_id|default('tomato-runner') }}" data-runner="idle" aria-hidden="true">
  <img
    class="tomato-asset tomato-asset-idle"
    src="{{ url_for('static', filename='images/tomato-idle.png') }}"
    alt=""
    decoding="async"
    draggable="false"
  >
  <img
    class="tomato-asset tomato-asset-running"
    src="{{ url_for('static', filename='images/tomato-bounce.gif') }}"
    alt=""
    decoding="async"
    draggable="false"
  >
</div>
